/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$gold: #d9bf7a;
$gold-light: #caa456;
$gold-dark: #b4924c;
$gold-nav: #276477;
$gold-nav-dark: #6e5729;

$dark-white: #fcfbf7;

$grey-text: #837973;
$grey-text-light: #d0c4bc;
$grey: #a5a5a5;
$grey-mid: #636363;
$grey-dark: #1d1d1d;
$grey-darker: #0c0b0f;
