/*------------------------------------*\
    #ICON-FONTS
\*------------------------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/palacio.eot?so9ef1');
	src:url('../fonts/palacio.eot?so9ef1#iefix') format('embedded-opentype'),
			url('../fonts/palacio.ttf?so9ef1') format('truetype'),
			url('../fonts/palacio.woff?so9ef1') format('woff'),
			url('../fonts/palacio.svg?so9ef1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e900";
}

.icon-mouse:before {
  content: "\e902";
}

.icon-down-arrow:before {
  content: "\e901";
}

.icon-hand:before {
  content: "\e903";
}

.icon-up-arrow:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e606";
}

.icon-facebook:before {
  content: "\e604";
}

.icon-error:before {
  content: "\f00d";
}

.icon-instagram:before {
  content: "\f16d";
}