/*------------------------------------*\
    #VENUE BLUEPRINTS
\*------------------------------------*/

.venue-blueprints {
  padding: 86px 0 30px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;

  @include media-query(palm) {
    padding: 0 0 30px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 768px;

    content: "";
    border-bottom: 1px dotted lighten($grey, 20%);
  }

  img {
    max-width: 100%;
  }
}

.venue-blueprints__title {
  margin-bottom: 20px;
}
